body {
    position: relative;
    background-color: #E8E5E4;
    font-family: "Roboto";
    background: url("../img/background.png");
    max-height: 100%;
}

html {
    max-height: 100%;
}

/* .content {
    background: #fff;
} */
.wrapper {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    box-sizing: border-box;
    background-color: #ffffff;
}

.wrapper2 {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    box-sizing: border-box;
    background-color: #ffffff;
}

.footer-dog {
    padding: 20px 15px 20px 15px;
    width: 100%;
    box-sizing: border-box;
}

.about-us, .menu-cont, .information, .access, .sns-section {
    /* height: 300px; */
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}


@media screen and (min-width: 968px) {
    .wrapper {
        width: 74%;
        margin-left: auto;
        margin-right: auto;
    }

    .wrapper2 {
        width: 74%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
        padding-right: 0;
    }

    /* .about-us, .menu-cont {
        height: 300px;
    } */
}