.footer-dog {
    position: relative;
    height: 105px;
    background: #411E0C 0% 0% no-repeat padding-box;
    text-align: left;
    line-height: 65px;
}

.footer-dog h2 {
    font-family: "Roboto";
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 2.7px;
    color: #FFFFFF;
    opacity: 1;
}

#backTop {
    position: absolute;
    right: 10px;
    top: 20px;
    float: right;
    color: white;
    font-size: 60px;
    cursor: pointer;
}

@media screen and (min-width: 968px) {


    .footer-dog{
        text-align: center;
    }
}